docs/

assembly_finder.egg-info/
assembly_finder/__pycache__
build/

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
tests/__pycache__
.pytest_cache

.snakemake
assembly_finder/workflow/conda
assembly_finder/workflow/taxonkit